<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023032929713-2upan6r5l3virft20c7eab3jdq4l2td5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023032929713-2upan6r5l3virft20c7eab3jdq4l2td5</string>
	<key>API_KEY</key>
	<string>AIzaSyD89s5SkKK12AMJNSIGofBDq67QYocH4QE</string>
	<key>GCM_SENDER_ID</key>
	<string>1023032929713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devcamp.paprikas</string>
	<key>PROJECT_ID</key>
	<string>paprika-26c1f</string>
	<key>STORAGE_BUCKET</key>
	<string>paprika-26c1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023032929713:ios:7c5c3a504359ca89f12190</string>
</dict>
</plist>